*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    background-color: rgba(3, 25, 71, 0.932);
    color: white;
}
.title{
    margin:15px;
    font-size: 1.6rem;
    text-align: center;
}
.title-h3{
    font-size: 1.5rem;
    margin:15px;
}
.input{
 border:2px solid salmon;
 box-shadow:3px 3px 2px rgb(228, 173, 173) ;
 margin:5px;
 width: 100px;
 padding:10px;
 text-align: center;
 font-size: 1rem;
}
.btn{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    box-shadow:3px 3px 2px rgb(228, 173, 173) ;
    border:none;
    font-size: 1.1rem;
    color:rgb(221, 46, 46);
    margin:15px;
    padding:10px;
}
.texto{
    text-align: center;
    margin:15px;
    font-size: 1.3rem;
}
.div-container{
    border: 3px solid rgba(128, 128, 128, 0.377);
    box-shadow:3px -3px 2px rgb(128, 128, 128);
    position: absolute;
    top:0;
    right: 0;
    border-radius: 100%;
    width: 70%;
    background-color: rgba(172, 255, 47, 0);
    transform: rotate(25deg);
    height: 100px;
}

.planeta-1{
    background-color: rgb(255, 172, 49);
    box-shadow: 3px -3px 3px 0px rgb(255, 230, 87);
    width:50px;
    height: 50px;
    position: absolute;
    top:20px;
    right: 50px;
    border-radius: 50%;
}
.planeta-2{
    position: absolute;
    background-color: rgb(2, 255, 116);
    box-shadow: -3px 3px 3px 0px rgb(0, 109, 49);
    width:40px;
    height: 40px;
    top:40px;
right: 150px;
    border-radius: 50%;
}
.planeta-3{
    position: absolute;
    background-color: rgba(252, 122, 35, 0.904);
    box-shadow: 3px -3px 3px 0px rgba(109, 48, 7, 0.856);
    width:40px;
    height: 40px;
    top:100px;
    right: 60px;
    border-radius: 50%;
}
.planeta-4{
    position: absolute;
    background-color: rgba(6, 101, 117, 0.473);
    box-shadow: -3px 3px 3px 0px rgb(179, 151, 255);
    width:30px;
    height: 30px;
    top:100px;
    right: 130px;
    border-radius: 50%;
}
